<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= params[:name] %></h1>
     <li>
     <ul>Coach: <%= params[:coach] %></ul>
     <ul>Point Guard: <%= params[:pg] %></ul>
     <ul>Shooting Guard: <%= params[:sg] %></ul>
     <ul>Power Forward: <%= params[:pf] %></ul>
     <ul>Small Forward: <%= params[:sf] %></ul>
     <ul>Center: <%= params[:c] %></ul>
    </li>
 </body>
</html>
